.arbron-summons-area h4 {
  margin: 0;
  font-weight: bold;
  line-height: 24px;
  color: var(--color-border-dark-tertiary);
}

.arbron-summons-area ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arbron-summons-area ol li:not(.empty) {
  display: flex;
}

.arbron-summons-area ol li.empty {
  padding-block: 1em;
  border: 1px dashed var(--color-border-light-2);
  border-radius: 5px;
  text-align: center;
}

.arbron-summons-area .arbron-summons-actor-link {
  flex: 2;
  padding-block-start: 4px;
}

.arbron-summons-area ol li input {
  flex: 3;
}

.arbron-summons-area .arbron-summons-delete {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  text-align: end;
  color:  var(--color-border-light-tertiary);
}

.arbron-summons-flags-area .config-button {
  flex: 0 0 20px;
}

.arbron-summons-config header {
  height: 28px;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-tertiary);
  padding: 3px 1px;
  font-weight: bold;
  font-size: var(--font-size-14);
}
.arbron-summons-config header .key { padding-inline-start: 4px; }
.arbron-summons-config header .value { padding-inline: 2px; }

.arbron-summons-config ol { padding: 0; }
.arbron-summons-config ol input[type="text"] { height: var(--form-field-height); }
.arbron-summons-config li { align-items: center; }
.arbron-summons-config .key { flex: 2; }
.arbron-summons-config .value { flex: 2; }
.arbron-summons-config .controls {
  flex: 0 0 24px;
  text-align: center;
}
